# fly.toml app configuration file generated for display-menupi-summer-pine-8611 on 2025-12-15T17:48:23+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'display-menupi-summer-pine-8611'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
